.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dddada;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
}
