.Title {
    background-color: white;
    margin-bottom: 20px;
    font-size: calc(19px + 2vmin);
    margin-top: 40px;
}

.cards {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}